/* PC */
@media (min-width: 1024px){

}
/* tablet */
@media(min-width: 740px) and (max-width: 1023){

}
/* Mobile */
@media(max-width: 740px){
    nav{
        display: flex;
        flex-flow: column;
        background-color: #2a2a2a;
        width: 399px;
        position: relative;
        z-index: 1;
        bottom: 16px;
        right: 156px;
        }
    .header_nav {
        position: relative;
        left: -156px;
        top: -16px;
        background-color: #2a2a2a;
        display: none;
        flex-flow: column;
        height: 154px;
        z-index: 1;
        width: 280px;
        padding: 0px 207.5px;
        
    }
    @keyframes modalFadeIn{
        from{
            opacity: 0;
            transform: translateY(-100px);
        }
        to{
            opacity: 1;
            transform: translateY(0)
        }
    }
    .open{
        display: flex;
        animation: modalFadeIn ease 0.7s;
    }
    .header_nav a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-family: cursive;
        margin: 16px;
        position: relative;
        left: -200px;
        top: 8px;
        
    }
    h1 {
        position: relative;
        left: 28px;
    }
    .header_talk{
        display: none;
    }
    .header_intro {
        padding-top: 68px;
    }
    .header_icon{
        display: block;
        font-size: 32px;
        color: white;
        position: absolute;
        top: 18px;
        left: 367px;
        z-index: 2;
    }
    .border_img {
        width: 220px;
        height: 220px;
        position: relative;
        left: 28px;
    }
    .img_avatar {
        position: relative;
        top: 5.5px;
        left: 6px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .contact_intro {
        padding: 0;
        text-align: left;
        margin: 10px 0;
    }
    .contact_intro h4 {
        color: white;
        font-size: 20px;
        margin: 0;
    }
    .contact_intro h3 {
        color: white;
        font-size: 16px;
        margin: 0;

    }
    .experties_content {
        text-align: left;
        position: relative;
        left: 0;
    }
    .intro_content-header {
        color: white;
        font-size: 24px;
        line-height: 48px;
        padding-top: 32px;
        padding-bottom: 48px;
    }
    .experties_content-header{
        font-size: 24px;
    }
    .experties_content-desc{
        font-size: 18px;
    }
    .background{
        position: absolute;
    }
    .about_tool-item{
        margin: 4px auto;
        width: 50%;
        text-align: center;
    }
    .highlight{
        display: none;
    }
    .about_tool-item img {
        width: 168px;
        height: 168px;
        border-radius: 12px;
        box-shadow: 0 0 5px rgb(42 42 42 / 50%);
        margin-left: -34px;
        }
    .experties_icon {
        font-size: 81px;
        margin-left: 180px;
    }
    .contact_info--item {
        font-size: 20px;
        margin: 12px 4px 0;
        color: #2a2a2a;
    }
    .footer {
        background-color: #2a2a2a;
        margin-top: 42px;
    }
    .col.l-6.l-o-3.c-12.footer_icon {
        text-align: center;
        padding-bottom: 20px;
    }
    .footer_icon i {
        margin-bottom: 48px;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 32px;
        color: #ccc;
    }
}