/* PC */
@media (min-width: 1024px){

}
/* tablet */
@media(min-width: 740px) and (max-width: 1023){

}
/* Mobile */
@media(max-width: 740px){
    nav{
        display: none;
    }
    h1 {
        position: relative;
        left: 28px;
    }
    .header_talk{
        display: none;
    }
    .header_intro {
        padding-top: 68px;
    }
    .header_icon{
        display: block;
        font-size: 32px;
        color: white;
        position: relative;
        right: 16px;
        top: 4px;
    }
    .img_avatar {
        position: relative;
        top: 5.5px;
        left: 5.7px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        left: 24px;
    }
    .contact_intro {
        padding: 0;
        text-align: left;
        margin: 10px 0;
    }
    .contact_intro h4 {
        color: white;
        font-size: 20px;
        margin: 0;
    }
    .contact_intro h3 {
        color: white;
        font-size: 16px;
        margin: 0;

    }
    .experties_content {
        text-align: left;
        position: relative;
        left: 0;
    }
    .intro_content-header {
        color: white;
        font-size: 24px;
        line-height: 48px;
        padding-top: 32px;
        padding-bottom: 48px;
    }
    .background{
        position: absolute;
    }
    .about_tool-item{
        margin: 4px auto;
        width: 50%;
        text-align: center;
    }
    .highlight{
        display: none;
    }
    .about_tool-item img {
        width: 168px;
        height: 168px;
        border-radius: 12px;
        box-shadow: 0 0 5px rgb(42 42 42 / 50%);
        margin-left: -34px;
        }
    .experties_icon {
        font-size: 81px;
        margin-left: 180px;
    }
    .contact_info--item {
        font-size: 20px;
        margin: 12px 4px 0;
        color: #2a2a2a;
    }
    .footer {
        background-color: #2a2a2a;
        margin-top: 42px;
    }
    .col.l-6.l-o-3.c-12.footer_icon {
        text-align: center;
        padding-bottom: 20px;
    }
    .footer_icon i {
        margin-bottom: 48px;
        margin-left: 4px;
        margin-right: 4px;
        font-size: 32px;
        color: #ccc;
    }
}