html{
    box-sizing: border-box;
    font-family: cursive;
    font-size: 62,5%;
    line-height: 1.6rem;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 72px;
    background-color: #FF8553;
    margin: 0;
    display: flex;
}
.header.open{
    box-shadow: 0 5px 5px rgba(42, 42, 42,0.5);
    position: fixed;
    top: 0;
    z-index: 2;
}
.header_list{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.header_nav {
    position: relative;
    left: 364px;
    top: 8px;
    display: flex;
}
li{
    list-style: none;
    color: #FF8553;
}
.subnav{
    display: none;
    flex-flow: column;
    background-color: white;
    color: #FF8553;
    position: relative;
    top:16px;
}
.subnav:hover{
    display: block;
    cursor: pointer;
}
.subnav li {
    text-align: center;
    position: relative;
    left: -18px;
    margin: 12px;
}
.subnav li a{
    color: #FF8553;
}
.header_nav-link{
    left: 0;
    width: 0;
}
.line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: white;
    transition: all 0.2s ease;
  }
.header_nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: cursive;
    margin: 16px;
}
h1{
    margin: 0;
    color: white;
    position: relative;
    left: 80px;
    top:20px;
    font-family: cursive;
}
.header_talk{
    min-width: 168px;
    height: 48px;
    background-color: #FF8553;
    border: 1px solid;
    border-radius: 24px;
    color: white;
    position: relative;
    left: 682px;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    top: 12px;
}
.header_talk:hover{
    background-color: white;
    color: #FF8553;
    cursor: pointer;
}
.header_talk p{
    position: relative;
    bottom: 8px;
}
.header_icon{
    display: none;
}
.content_intro{
    background-color:#FF8553 ;
    /* height: 500px; */
    
}
.header_intro{
    
    padding-top: 200px;

}
.border_img{
    width: 320px; 
    height: 320px;
    border:4px solid;
    border-radius: 50%;
    color: white;
}
.img_avatar{
    position: relative;
    top: 5.5px;
    left: 5.7px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.intro_content{
     flex: 2;
    width: 60%; 
}
.intro_content-header{
    color: white;
    left: 82px;
    font-size: 48px;
    line-height: 48px;
    padding-top: 108px;
}
.contact_intro{
    padding: 40px 0;
    text-align: center;
}
.contact_intro h4{
    color: white;
    font-size: 20px;
}
.contact_intro h3{
    color: white;
    font-size: 28px;
}
.row h1{
    color: black;
    margin: 40px;
}
.experties_list{
    min-height: 352px;
    text-align: center;
    /* border-left: 8px solid #FF8553; */
    margin: 4px 0;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.experties_list:hover{
    box-shadow: 0 0.625rem 20px 0 rgba(0, 0,0, 0.5);
    transform: translateY(-1px);
}
.experties_icon{
    font-size: 100px;
    position: relative;
    right: 240px;
    color: #ccc;
    margin-bottom: 12px;
     
}
@keyframes heart {
    /* 50%{
        transform:  scale(1.1);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    } */
    from{
        transform: translateX(4px);
    }
    to{
        transform: translateX(16px);
    }
}
.experties_content--position{
    width: 50%;
}
.experties_content--position:hover{
    /* box-shadow: 0 0.625rem 20px 0 rgba(0, 0,0, 0.5); */
    /* transform: translateX(15px); */
    animation-name: heart;
    animation-duration: 1s;
}
.experties_content--position p{
    font-size: 18px;
    color: #FF8553;
}
.experties_content--position div{
    width: 60px;
    height: 2px;
    background-color: #FF8553;
}
.title{
    font-size: 40px;
    margin: 48px 0;
    z-index: 1;
}
.experties_content-header{
    margin: 0;
    padding: 0;
}
.experties_content{
    text-align: left;
    position: relative;
    left: 16px;
}
.experties_content-header{
    font-size: 28px;
    margin: 8px 0;
    font-family: cursive;
    font-weight: bold;
}
.experties_content-desc{
    font-size: 20px;
    font-family: cursive;
}
.project_img,
.project_img1,
.project_img2,
.project_img3{
    background-image: url('../img/project1.png');
    padding-top: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    margin: 24px 0;
    box-shadow: 0 0 5px rgba(42, 42, 42,0.5);

}
.project_img1{
    background-image: url('../img/project2.png');
}
.project_img2{
    background-image: url('../img/project3.png');
}
.project_img3{
    background-image: url('../img/project4.png');
}
.highlight {
    transition: all 0.2s;
    position: absolute;
    top: 0;
    background-color: rgba(255, 133, 83,0.2);
    left: 0;
    z-index: 1;
    border-radius: 24px;
    display: block;
  }
  
.background{
    background-color: #f8f8f8;
    width: 70%;
    height: 700px;
    position: absolute;
    left: 0px; 
    border-top-right-radius: 64px;
    border-bottom-right-radius: 64px;
}
.about_text{
    /* position: absolute; */
    z-index: 1;
}
.about_overlay{
    margin-bottom: 48px;
}
.about_progressbar{
    width: 100%;
    height: 4px;
    background-color: rgba(255,69,0,0.5);
    margin-bottom: 64px;
    border-radius: 4px;
}
.about_progressbar-percent{
    background-color: orangered;
    width: 80%;
    height: 4px;
}
.about_progressbar-percentgit{
    background-color: orangered;
    width: 60%;
    height: 4px;
}
.about_progressbar-percentvs{
    background-color: orangered;
    width: 50%;
    height: 4px;
}
.about_progressbar--text{
    display: flex;
    justify-content: space-between;
}
.about_progressbar--text span{
    margin: 0;
}
.about_tool{
    z-index: 1;
}
.about_tool-item{
    width: 100%;
}
.about_text span{
    margin: 0;
    color: #FF8553;
}
.about_text p{
    margin: 0;
}
.about_tool-item img{
    width: 100%;
    height: 168px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(42, 42, 42,0.5);
}
.about_tool-item img:hover{
    box-shadow: 0 0.625rem 20px 0 rgba(0, 0,0, 0.5);
    transform: translateY(-1px);
}
.contact_input,
.contact_info{
    z-index: 1;
}
.contact_form--item{
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    margin: 12px 0;
}
.contact_info--item{
    font-size: 24px;
    margin: 40px 92px;
    color: #2a2a2a;
}
.submit:hover{
    background-color: #FF8553;
    color: white;
}
span{
    margin: 0 12px;
}
.footer_header{
    margin: 28px auto;
    font-size: 24px;
    color: #ccc;
}
.footer{
    background-color: #2a2a2a;
}
.footer_icon i{
    margin-top: 6px;
    margin-bottom: 48px;
    margin-left: 24px;
    font-size: 48px;
    color: #ccc;
}
a{
    text-decoration: none;
}